<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}WebPanda{% endblock %}</title>
    {% block head %}
    <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/libs/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/libs/marked/lib/marked.js"></script>
    {% endblock %}
</head>
<body>
{% include 'header.html' %}
{% block content %}
{% endblock %}
</body>

</html>