{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-post">
    <div class="img-post">
        <div class="post-title">{{post.title}}</div>
    </div>
    <div class="post-text">{{post.text}}</div>
</div>
<script>
    var text = $(".post-text").text();
    $(".post-text").html(marked(text));
    $(".img-post").css({
        "background": "url({{post.img}}) no-repeat fixed",
        "background-size": "100% 100%",
        "background-position-y": "50%"
    });
</script>
{% endblock %}